:root {
    --primario: #f1c40f;
    --secundario: #34495e;
    --blanco: #ecf0f1;
    --cyan: #3498db;
    --red: #ec4646;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    background-color: var(--secundario);
    height: 30vh;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 768px) {
    header {
        height: 15vh;
    }
}

body {
    font-size: 1.6rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}


/**************** LOGIN *****************/


.contenedor-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.contenido-login {
    display: grid;
    grid-template-rows: 7rem 15rem 5rem;
    background-color: var(--secundario);
    color: white;
    padding: 2rem;
}

.login-header h3 {
    text-align: center;
    margin: 0;
}

.login-content form {
    display: grid;
    grid-template-rows: 50% 50%;
}


/************* HEADER ************/

.contenedor-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 0rem 3rem;
}

@media (min-width: 768px) {
   .contenedor-header {
       flex-direction: row;
       justify-content: space-between;
   }
}

.contenedor-header h3 {
    margin: 0;
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        margin-right: 0;
    }
 }

.barra li {
    display: inline;
    padding: 1.2rem 0rem;
}

.barra li:hover {
    border-bottom: 1px solid var(--primario);
}

@media (min-width: 768px) {
   .barra li {
       margin-right: 2rem;
   } 
}



/********** MIS LECTURAS **********/


.contenedor-lecturas {
    display: flex;
    flex-direction: column;
    width: 55%;
}

#tabla_lecturas {
    text-align: center;
    width: 100%;
    margin: 3rem 0rem;
}

@media (min-width: 768px) {
    #tabla_lecturas {
        margin: 0;
    }
}

#tabla_lecturas td, th {
    padding: .5rem;
   
}

#tabla_lecturas tr:nth-child(even) {
    background-color: #eee;
}

.contenedor-lecturas button{
    margin-bottom: 0rem;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-lecturas button {
        margin-bottom: 2rem;
    }
}

.botones-lecturas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .botones-lecturas {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

/********** INDICE - CLASIFICACION **********/

.contenedor-indice {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*** CONTENEDORES ****/

.box {
    margin-bottom: 2rem;
}

.inside-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inside-box label, .box label {
    display: inline-block;
    width: 20rem;
    margin-bottom: 1rem;
}

.box label {
    width: 10rem;
}

.inside-box input[type=number] {
   width: 65px;
   max-width: 65px;
   border-radius: 2rem;
   border: 1px solid grey;
   text-align: center;
}



/********* MODIFICAR CUENTA ***********/


.contenedor-modificar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.contenedor-modificar .box {
    margin-bottom: 2rem;
}



/******* VISTA TABLA ***********/


table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

td {
    padding: 0 15px;
    width: 300px;
}

span {
    font-weight: 700;
}


/*************** COOKIES ***************/

.contenedor-cookies {
    height: 45vh;
    background-color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-cookies {
        height: 23vh;
    }
}

.contenido-cookies {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
    height: 100%;
}

.iconos {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;

}

@media (min-width: 768px) {
    .iconos {
        grid-template-columns: repeat(4, 1fr);
    }
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img {
    width: 32px;
    height: 32px;
 }



/********* UTILIDADES **********/

.fw-300 {
    font-weight: 300;
}

.fw-700 {
    font-weight: 700;
}

.centrar-texto {
    text-align: center;
}

label {
    font-weight: 700;
}

.modificar-botones {
    display: grid;
}

.btn {
    margin: 1.5rem 0rem;
    border: none;
    border-radius: 3rem;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1.4rem 4rem;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--cyan);
}

.btn-blanco, .btn-blanco a{
    background-color: var(--blanco);
    color: #34495e;
}

.btn-red {
    background-color: var(--red);
}

.w-100 {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/* Considerar revision de estas hojas de estilo
/* */
/******* NUEVOS USUARIOS *********/

.contenedor-nuevo {
    display: flex;
    justify-content: center;
}

/*.contenido-nuevo form h4::before {
    content: "";
    display: block;
    background-image: url("https://img.icons8.com/ios-glyphs/30/000000/user-male-circle.png");
    background-position: center center;
    background-size: cover;
    width: 50px;
    height: 50px;
}*/


.contenido-nuevo .box {
    margin-bottom: 2rem;
}

.contenido-nuevo h4 {
    margin-top: 0;
}

.contenido-nuevo .box input[type=radio] {
    margin-left: 2rem;
}

.contenedor-nuevo h4::after {
    content: "";
    display: block;
    background-color: var(--primario);
    width: 140px;
    height: 5px;
}













